.cart {
    padding: 100px 0;
}

.cart-content {
    display: flex; /* Kích hoạt Flexbox */
    justify-content: space-between; /* Tạo khoảng cách đều giữa hai bên */
    align-items: flex-start; /* Căn trên cùng */
}

.cart-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-top {
    height: 2px;
    width: 70%;
    background-color: #aaaaaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}

.cart-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.cart-top-item i {
    color: #ddd;
}

.cart-top-cart {
    border: 1px solid #007bff;
}

.cart-content-left {
    flex: 2 1 0%;
    padding-right: 12px;
}

.cart-content-left table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;

}

.cart-content-right table th {
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-transform: uppercase;
    color: #333333;
    border-bottom: 2px solid #b6b2b2;
}

.cart-content-left table p {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333333;
}

.cart-content-left table input {
    width: 30px;

}

.cart-content-left table span {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.cart-content-left table td {
    padding: 20px 0;
    border-bottom: 2px solid #ddd;
}

.cart-content-left td:first-child img {
    width: 130px;
}

.cart-content-left td:nth-child(2) img {
    max-width: 130%;
}

.cart-content-left td:nth-child(3) img {
    max-width: 130px;
}

.cart-content-right {
    flex: 1;
    padding-left: 12px;
    border-left: 2px solid #ddd;
}

.cart-content-right table {
    width: 100%;
}

.cart-content-right table th {
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333333;
    border-collapse: collapse;
    border-bottom: 2px solid #ddd;
}

.cart-content-right table td {
    padding: 6px 0;
    font-size: 12px;
    font-family: var(--main-text-font);
    color: #333333;
}

.cart-content-right tr:nth-child(4) td {
    border-left: 2px solid #ddd;:;
}

.cart-content-right tr:last-child {
    text-align: center;
}

.cart-content-right-text {
    margin: 20px 0;
    text-align: center;
}

.cart-content-right-text p {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333333;
}

.cart-content-right-button {
    text-align: right;
    align-items: center;
}

.cart-content-right-button button {
    padding: 0 15px;
    height: 35px;
    cursor: pointer;
}

.cart-content-right-button button:first-child {
    background-color: #000000;
    color: #fff;
    border: 1px solid #000000;
    margin-right: 20px;
}

.cart-content-right-button button:first-child:hover {
    background-color: #ffffff;
}

.cart-content-right-button button:last-child {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
}

.cart-content-right-button button:last-child:hover {
    background-color: #ffffff;
    color: #000000;
}

.cart-content-right-login {
    margin-top: 20px;
}

.cart-content-right-login p {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333333;
}

.delivery {
    padding: 100px 0;
}

.delivery-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery-top {
    height: 2px;
    width: 70%;
    background-color: #aaaaaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}

.delivery-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.delivery-top-item i {
    color: #ddd;
}

.delivery-top-address {
    border: 1px solid #007bff
}

.delivery-content-left {
    width: 60%;
    padding-right: 12px;
}

.delivery-content-left p {
    font-family: var(--main-text-font);
    font-size: 12px;
}

.delivery-content-left label {
    font-family: var(--main-text-font);
    font-size: 12px;
    margin-bottom: 6px;
    display: block;
}

.delivery-content-left > p {
    font-weight: bold;
}

.delivery-content-left-login {
    margin-top: 12px;
}

.delivery-content-left-login i {
    font-size: 12px;
    margin-right: 12px;
}

.delivery-content-left-khachle {
    margin: 12px 0;
}

.delivery-content-left-khachle input {
    margin-right: 12px;
}

.delivery-content-left-register {
    margin-bottom: 30px;

}

.delivery-content-left-register input {
    margin-right: 12px;
}

.delivery-content-left-input-top {
justify-content: space-between;
}

.delivery-content-left-input-top-item {
width: calc(50% - 12px);
}

.delivery-content-left-input-top-item input {
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
    padding-left: 6px;
}

.delivery-content-left-input-bottom input {
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
    padding-left: 6px;
}
.delivery-content-left-button p{
    display: inline-block;
    font-family: var(--main-text-font);
    font-size: 12px;
}
.delivery-content-left-button span {
    margin: 12px ;
}
.delivery-content-left-button {
    justify-content: space-between;
    padding-top: 20px;
}
.delivery-content-left-button button {
    height: 35px;
    border: 2px solid #000;
    padding:6px 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.delivery-content-left-button button:hover {
    background-color: #000;
    color: #fff;
}
.delivery-content-right {
    width: 40%;
    padding-left: 12px;
    border-left: 2px solid #ddd;
    height: auto;

}
.delivery-content-right table {
    width: 100%;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-align: center;
}
.delivery-content-right table tr th:first-child {
    text-align: left;
}
.delivery-content-right table tr th {
    padding-bottom: 12px;
    border-bottom: 2px solid #ddd;
}
.delivery-content-right table tr th:last-child {
    text-align: right;
}
.delivery-content-right table tr td {
    padding: 6px 0;

}
.delivery-content-right table tr:nth-child(4) {
    border-top: 2px solid #ddd;

}
.delivery-content-right table tr td:last-child {
    text-align: right;
}
.delivery-content-right table tr td:first-child {
    text-align: left;
}