:root {
    --white: white;
    --black: black;
    --text-color: #333;
}
* {
    box-sizing: inherit;
}
html {
    /*mặc  của 100% là 16px*/
    padding:0;
    margin: 0;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
.grid {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}
.grid_full-width {
    width: 100%;
}
.grid_row {
    display: flex;
    flex-wrap: wrap;
}

.container{
    padding: 10px;
}
/*animation*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*
chu lon 24px
chu nho 14px
padding vien nd 20px
margin 20px 2px
border-radius: 8px;
padding 10px;
font-size: 24px;
    font-weight: normal;
    padding: 10px;
    margin-bottom: 15px;
    color: #333;
    line-height: 1.6;
    color: #555;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: initial;
   margin: 20px 2px;
    text-align: center;
     color: #f39c12; 
     font-size: 14px;