
.header {
    height:120px;
    background-image: linear-gradient(0, #fe6433,#f53e2d);
}
.header_navbar{
    display: flex;
    justify-content: space-between;
}
.header_navbar-list{
    padding-left: 0;
    list-style: none;
    margin-top: 4px;

}
.header_navbar-item.shop {
    font-weight: 700; /* Độ đậm cao hơn */
    background: linear-gradient(70deg, black, blueviolet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header_navbar-item.shop::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #aaaaaa;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header_navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 18px;
}

.header_navbar-item,
.header_navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color:var(--white);
    text-decoration: none;
    font-weight: 50;
}
.header_navbar-item,
.header_navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}
.header_navbar-item:hover,
.header_navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.7);
}
.header_navbar-item.strong {
    font-weight: 400;
}
.header_navbar-item.strong::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #aaaaaa;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-icon-link {
    font-size: 1.4rem;
}
.header_navbar-icons {
font-size: 1.8rem;
    margin: 0 4px;
}
.header_navbar-icons:hover {
    color: var(--white); /* Giữ nguyên màu trắng khi hover */
}

.header_navbar-title--no-pointer {
    cursor: text;
    color: var(--white);
}
.header__qr{

}
.header__qr-img {

}
.header__qr-apps {

}
.header__qr-dl {

}
