
.header {
    height:120px;
    background-image: linear-gradient(0, #fe6433,#f53e2d);
}
.header_navbar{
    display: flex;
    justify-content: space-between;
}
.header_navbar-list{
    padding-left: 0;
    list-style: none;
    margin-top: 4px;

}
.header_navbar-item.shop {
    font-weight: 700; /* Độ đậm cao hơn */
    background: linear-gradient(70deg, black, blueviolet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header_navbar-item.shop::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #aaaaaa;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header_navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 18px;
}

.header_navbar-item,
.header_navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color:var(--white);
    text-decoration: none;
    font-weight: 50;
}
.header_navbar-item,
.header_navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}
.header_navbar-item:hover,
.header_navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.7);
}
.header_navbar-item.strong {
    font-weight: 400;
}
.header_navbar-item.strong::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #aaaaaa;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-icon-link {
    font-size: 1.4rem;
}
.header_navbar-icons {
font-size: 1.8rem;
    margin: 0 4px;
}
.header_navbar-icons:hover {
    color: var(--white); /* Giữ nguyên màu trắng khi hover */
}

.header_navbar-title--no-pointer {
    cursor: text;
    color: var(--white);
}
.header__qr{

}
.header__qr-img {

}
.header__qr-apps {

}
.header__qr-dl {

}

/* phần container*/



/*containner 1*/
.product-container {
   text-align: center;
}

.product-container h1 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: normal;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.product:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-name {
    margin: 10px 0;
    font-size: 14px;
    color: #333;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.view-all {
    margin: 20px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.view-all::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -4px;
 }
 .view-all-container {
    text-align: center;
}


