.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin:  auto;
    position: relative;
}

/* Tiêu đề */
.form-container h2 {
    text-align: center;
    color: #333;
}

/* Form */
.form-container form {
    display: flex;
    flex-direction: column;
}

/* Nhãn */
.form-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

