* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Tahoma;
}
#main{
    
}
#header{
    height: 46px;
    background-color: black;
}
#shop a {
    font-size: 24px;
    color: #c95b5b !important;
    background-color: transparent !important;
    cursor: default;
}

#nav {

}

#nav li {
    display: inline-block;
}
#nav li a {
    color : #ffffff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
    vertical-align: middle;
}
#nav li:hover a {
    color: #000;
    background-color: #ccc;
}
#nav .subna {
    display: none;
}

#slider{

}

#content{

}
#footer{

}