<<<<<<< HEAD
*{
padding:0;
margin: 0;
box-sizing:border-box;
}
=======
:root{
    --white: #fff;
    --black: #000;
--text-color: #ccc;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6 rem;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%; 
}

.grid__full-width{
width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}
>>>>>>> 5496b0e519de90f98994792b48b8ac92d82a74c6
