* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.product-container {
   text-align: center;
}

.product-container h1 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: normal;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.product:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-name {
    margin: 10px 0;
    font-size: 14px;
    color: #333;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

 
 
 /* Định dạng cho container của pagination */
.pagination {

    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* Định dạng chung cho các nút */
.pagination-btn {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* Hiệu ứng hover */
.pagination-btn:hover:not(.active) {
    background-color: #f0f0f0;
}

/* Định dạng cho nút được chọn */
.pagination-btn.active {
    background-color: black;
    color: white;
}

/* Định dạng cho nút bị vô hiệu hóa */
.pagination-btn:disabled {
    color: #ccc;
    cursor: not-allowed;
}
